/* Body Styling*/
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #333;
}
/* Header Styling */
#top {
  background-color: #003366;
  padding: 10px;
  text-align: center;
}

/*Link Styling*/
.link ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  padding: 10px;
  text-decoration: none;
}
nav ul li {
  margin-right: 10px;
}

nav ul li a:hover {
  color: red;
  text-decoration: none;
}

a {
  color: white;
}

form {
  width: 50%;
  padding: 2%;
}
.form_link {
  color: blue;
}
footer {
  background-color: #003366;
  color: white;
  padding:10px;
}
