/* Body Styling*/
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #333;
}

/* Header Styling */
#top {
  background-color: #003366;
  padding: 10px;
  text-align: center;
}

/*Link Styling*/
.link ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  padding: 10px;
  text-decoration: none;
}
nav ul li {
  margin-right: 10px;
}

nav ul li a:hover {
  color: red;
  text-decoration: none;
}

a {
  color: white;
}

.main_container {
  padding: 2%;
  background-color: #e9f2fb;
  border-radius: 1%;
}
.personal_information_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2% 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.personal_information_text {
  width: 60%;
}
.personal_image {
  max-width: 35%;
  height: auto;
}

#copyright {
  color: white;
}
footer {
  background-color: #003366;
  color: white;
  padding: 10px;
}
