/* Body Styling */
body {
  font-family: Arial, sans-serif;
  line-height: 2.0;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

/* Header Styling */
#top {
  background-color: #003366;
  padding: 10px;
  text-align: center;
}

/*Link Styling*/
.link ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  padding: 10px;
  text-decoration: none;
}
nav ul li {
  margin-right: 10px;
}

.link:hover {
  text-decoration: underline;
}
a {
  color: white;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; 
}

.responsive_image img {
  max-width: 100%;
  height: auto;
}

.personal_introduction {
  max-width: 600px; 
  font-family: Arial, sans-serif;
  font-size: 1.0rem;
}

@media (max-width: 600px) {
  .content_wrapper {
    flex-direction: column;
    text-align: center;
  }
}

/*Main Container
#mainContainer{
 max-width: 600px;
  margin: 0;
  padding: 20px;;
  background-color: white;
  border-radius: 8px;
}
/* Form styles 
form {padding: 20px;;
  background-color: white;
  border-radius: 8px;
  margin-bottom:15px;
  max-width:600px;
}




