/* Body Styling*/
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #333;
}
/* Header Styling */
#top {
  background-color: #003366;
  padding: 10px;
  text-align: center;
}

/*Link Styling*/
.link ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  padding: 10px;
  text-decoration: none;
}
nav ul li {
  margin-right: 10px;
}

nav ul li a:hover {
  color: red;
  text-decoration: none;
}

a {
  color: white;
}

main {
  flex: 1;
  min-height: 100vh;
}
table {
  width: auto;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
Caption {
  font-weight: bold;
}
#Courses {
  border: 0;
}
th,
td {
  background-color: white;
  text-align: justify;
  border: 1px solid black;
}

footer {
 background-color: #003366;
  color: white;
  padding: 10px;
}
